*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}
  body{
  height:   10000px;
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.2)), url(../media/clearway-community-solar-panels-farm-spencer-massachusetts-l6oc5ffgvutco1of.webp) no-repeat;
      background-position: center ;
      background-attachment: fixed;
      background-size: cover;
}
header{
  width: 100%;
  height: 100vh;
  
}

nav{
  width: 100%;
  height: 100px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  align-items: center;
}

.logo{
  font-family: 'playfairi display',Arial, Helvetica, sans-serif ;
  font-size: 2.5em;
  letter-spacing: 3px;
  color: rgb(211, 199, 196);
}

.logo-img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.minu a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid transparent;
  border-radius: 8px;


}

.register a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid transparent;

}

.register a:hover ,.minu a:hover {
  border: 2px solid green;
}

.welcoming {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
 
}

.welcoming h1{
  font-size: 6em;
  color: #fff;
}

.welcoming h3{
  margin-top: 50px;
  font-size: 2em;
  color: #fff;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  
}

.intro{
  height: 75vh;
  display: flex;
  justify-content: center; 
  padding: 1vh;
  margin-bottom: 15vh;
}

.inner-content {
  width: 95vw;
  box-shadow: 0 4px 8px rgba(198, 211, 239, 0.9);
  background-color: rgba(198, 211, 239, 0.778);
  padding: 20px; 

}

.intro-text{
  width: 50%;
  font-size: 20px;
  flex: 2.5;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  padding: 9vh;
  text-align: justify;
}

.aim-text{
  width: 50%;
  font-size: 25px;
  flex: 2.5;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  padding: 40px 60px 0 10px;
  text-align: justify;
}


.intro .intro-text h1{
  font-size: 4em;
}

.intro .intro-text h3 {
  font-size: 2em;
}

.intro-img{
  flex: 2;
  display: flex;
  justify-self: center;
  align-items: center;
  padding-left: 20px;
}

.aim-img{
  flex: 2;
  display: flex;
  justify-self: center;
  align-items: center;
  padding-left: 1vh;
}

.about{
  width: 100%;
  height: 100vh;
  padding: 5vh;
  display: flex;
  flex-direction: column;
}

.about h2{
  text-align: center;
  color: #fff;
  font-size: 4em;
  margin-bottom: 5vh;
}

.about .users {
  display: flex;
  justify-content: space-around;
}

.userimgnname{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users .user {
  background: url('../media/user.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  width: 400px; 
  height: 400px; 
}

.userimgnname p {
  color: #fff;
  font-size: 2em;
  margin-top: 20px ;
}